<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhx.admin.mapper.BackUserMapper">

	<select id="selectMenuByUserId" resultType="com.qhx.admin.domain.Menu" parameterType="long">
		SELECT `ap_menu`.* FROM `ap_menu`  LEFT JOIN `ap_role_menu`
		ON `ap_menu`.menu_id = `ap_role_menu`.menu_id LEFT JOIN `ap_role`
		ON `ap_role_menu`.role_id = `ap_role`.role_id LEFT JOIN `ap_user_role`
		ON `ap_role`.role_id = `ap_user_role`.role_id LEFT JOIN `ap_back_user`
		ON `ap_user_role`.user_id = `ap_back_user`.user_id WHERE `ap_back_user`.user_id = #{userId}
	</select>

	<select id="selectAllUser" resultType="com.qhx.admin.domain.BackUser" parameterType="java.util.Map">
		SELECT `ap_back_user`.* from `ap_back_user` LEFT JOIN `ap_user_role`
		ON `ap_back_user`.user_id = `ap_user_role`.user_id
		WHERE `ap_user_role`.role_id = #{map.roleId}
		  AND `ap_back_user`.del_flag = '0'
		  <if test="map.q.username != null and map.q.username != ''">
			  AND `ap_back_user`.username LIKE   concat('%', #{map.q.username}, '%')
		  </if>
		<if test="map.q.phone != null and map.q.phone != ''">
			AND `ap_back_user`.phone =  #{map.q.phone}
		</if>
		<if test="map.q.status != null and map.q.status != ''">
			AND `ap_back_user`.status = #{map.q.status}
		</if>
		<if test="map.q.endTime != null">
			<![CDATA[
		  		AND  DATE_FORMAT(`ap_back_user`.create_time , '%Y-%m-%d %H:%i:%s') <= DATE_FORMAT(#{map.q.endTime}, '%Y-%m-%d %H:%i:%s')
		    ]]>
		</if>
		<if test="map.q.beginTime != null">
			<![CDATA[
				AND  DATE_FORMAT(`ap_back_user`.create_time , '%Y-%m-%d %H:%i:%s') >= DATE_FORMAT(#{map.q.beginTime}, '%Y-%m-%d %H:%i:%s')
		    ]]>
		</if>



	</select>

</mapper>
